data/task_manager.db
/__pycache__
backend/.env
web/.env.local
backend/temp.sql


/.ignorelist
/generateFolderStructure.js
/node_modules
/backend/temp.sql
/backend/.env.docker
/web/.env.docker
/apps/node_modules
/.vscode
/apps/web/.vscode